{:kotoba.app/id "cloud.itonami.isic-8720", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihjmgwhe2j3vtiaorffupdc22vk6ku3mic4pavqn5lj7u2byn7y6u", :kotoba.app/embed-url "ipfs://bafkreihjmgwhe2j3vtiaorffupdc22vk6ku3mic4pavqn5lj7u2byn7y6u", :published {:archive "https://kotobase.net/ipfs/bafkreihjmgwhe2j3vtiaorffupdc22vk6ku3mic4pavqn5lj7u2byn7y6u", :size 75884, :put-status 201, :get-status 200, :at "2026-08-15T13:58:05.286Z"}}
